body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: auto;
    background-color: rgb(156, 178, 226);
}
#topColor{
    background-color: rgb(80, 117, 211);
    box-shadow: 10px, 10px, 4px, 4px;
}
#topSpacing{
    margin-left: 1%;
    margin-right: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
}
#spacing{
    margin-left: 3%;
    margin-right: 3%;
}
#title{
    text-align: center;
}
#decide{
    display: block;
    align-self: center;
    position: center;
    margin: auto;
}
#middle{
    margin-left: 1%;
    margin-right: 1%;
    width: 71%;
}
img,  #right{
    margin-left: 1%;
    margin-right: 1%;
    width: 23%;
}
img, #middle{   
    float: left;
}
#right{
    float: right;
}
#characterPic{
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
}
#addDiv{
    margin: 1%;
}
#addDiv *{
    position: center;
}
#login{
    display: block;
}
#registration{
    display: none;
}
#login, #registration{
    margin: 1%;
}
#main{
    display: none;
}